#**LISTAS**

##1) COMO ESCREVER UM PROGRAMA PARA SOMAR TODOS OS ITENS DE UMA LISTA?

In [3]:
lista_de_entrada = [1,2,3,4,5,6,7]
#o indice inicial é zero

In [2]:
type(lista_de_entrada)

list

In [4]:
soma = 0
for i in lista_de_entrada: 
  soma += i
print (f"A soma é: {soma}")

A soma é: 28

##2) COMO ESCREVER UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS DE UMA LISTA?

In [6]:
multiplica = 1
#se iniciar com zero o resultado sempre será zero

for i in lista_de_entrada: 
  multiplica *= i
print (f"A multiplicação é: {multiplica}")

A multiplicação é: 5040

##3) COMO ESCREVER UM PROGRAMA PARA OBTER O MAIOR NÚMERO DE UMA LISTA?

In [12]:
lista = [5, 5, 8, 1, 10, 1]

In [13]:
maior_valor = max(lista)
print (f"O maior elemento é: {maior_valor}")

O maior elemento é: 10

**Para menor valor: min**

##4) COMO ESCREVER UM PROGRAMA PARA REMOVER DUPLICATAS EM UMA LISTA?

In [14]:
l = [4, 4, 8, 81, 8, 9, 1, 11, 2]

In [20]:
#uso de conjuntos para notar que temos essa opção de resolução
#set é usado para criar um conjunto e um conjunto não permite ter duplicatas

remove_duplicatas = set(l)
print (remove_duplicatas)

{1, 2, 4, 8, 9, 11, 81}

In [21]:
#removeu os duplicados mas deixou de ser lista
type(remove_duplicatas)

set

In [23]:
#voltar para lista
lista_nova = list(remove_duplicatas)
print (lista_nova)
type(lista_nova)

[1, 2, 4, 8, 9, 11, 81]

list

##5) COMO ESCREVER UM PROGRAMA PARA COPIAR UMA LISTA PARA OUTRA?

In [25]:
#comando copy
lista_para_estudar = [ 'biologia', 'matematica', 'geografia']

In [27]:
lista_para_estudar_hoje = lista_para_estudar.copy()
print (lista_para_estudar_hoje)

['biologia', 'matematica', 'geografia']

**Comando .pop: se nenhum parâmetro for passado, removerá o último elemento da lista**

**Comando .extend: junta duas listas, como uma soma de listas**

**Comando .index("o que quer o indice"): para descobrir o indice de um elemento da lista**

##6) COMO RECEBER DUAS LISTAS E RETORNAR TRUE SE ELAS TIVEREM PELO MENOS UM ELEMENTO EM COMUM?

In [28]:
lista1 = [1,2,3]
lista2 = [1,3,4]

In [29]:
lista1_conjunto = set(lista1)

In [33]:
#para usar esse método é necessário transformar pelo menos uma lista em conjunto
intersecao = lista1_conjunto.intersection(lista2)
print(intersecao)

{1, 3}

In [35]:
if (lista1_conjunto.intersection(lista2)):
  print ('True')
else:
  print ('False')

True

#**TUPLAS**

##7) COMO ESCREVER UM PROGRAMA PARA CRIAR UMA TUPLA?

**As tuplas são imutáveis!**
Ex.: lista com meses do ano, não podem ser mudadas.

In [43]:
tupla = (1,2,3,'Maria')

In [44]:
type(tupla)

tuple

In [45]:
type(())

tuple

In [40]:
tupla2 = tuple(range(11))
print (tupla2)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [42]:
#tamanho da tupla
len(tupla2)

11

##8) COMO CRIAR UMA TUPLA COM NÚMEROS E IMPRIMIR UM ITEM?

In [58]:
tupla_numeros = (1,8,9,6,8)

In [59]:
type(tupla_numeros)

tuple

In [63]:
#imprimir o terceiro numero da tupla
tupla_numeros[2]

9

##9) COMO ADICIONAR UM ELEMENTO EM UMA TUPLA?

In [64]:
tupla_para_add = (10, 20, 30)

In [65]:
tupla_para_add = tupla_para_add + (40, )

In [67]:
print(tupla_para_add)

(10, 20, 30, 40)

##10) COMO OBTER O 4º ELEMENTO E O ÚLTIMO DE UMA TUPLA?

In [68]:
tupla_nova = (10, 20, 30, 40,'Maria', [1,2,3])

In [69]:
type(tupla_nova)

tuple

In [70]:
tupla_nova[4]

'Maria'

In [71]:
#para acessar um elemento dentro de uma lista da tupla
tupla_nova[5][0]

1

In [73]:
#para acessar o último
tamanho_tupla = len(tupla_nova)
print(tamanho_tupla)

6

In [74]:
#considerando o index para encontrar a posição do último
tamanho_tupla = len(tupla_nova) - 1
print(tamanho_tupla)

5

In [77]:
#ultimo valor da tupla
print(tupla_nova[tamanho_tupla])

[1, 2, 3]

##11) COMO VERIFICAR SE HÁ ITENS REPETIDOS EM UMA TUPLA?

In [78]:
tupla_original = (9, 9, 1, 88, 2, 88, 3)

In [80]:
tupla_para_set = set(tupla_original)
print(tupla_para_set)

{1, 2, 3, 9, 88}

In [81]:
print(len(tupla_original))
print(len(tupla_para_set))

7
5

In [83]:
#como o tamanho diminuiu é porque foram removidos valores que são repetidos, já que o set não permite duplicatas
if (len(tupla_original) != len(tupla_para_set)):
  print("Existem elementos repetidos")
else:
  print("Não há repetidos")

Existem elementos repetidos

#**DICIONÁRIOS**

##12) COMO ESCREVER UM PROGRAMA PARA ADICIONAR UMA CHAVE A UM DICIONÁRIO?

In [85]:
estados = {"Minas Gerais": 35, "São Paulo": 11}

In [86]:
type(estados)

dict

In [90]:
estados.update({"Rio de Janeiro": 21})

In [91]:
print(estados)

{'Minas Gerais': 35, 'São Paulo': 11, 'Rio de Janeiro': 21}

##13) COMO CRIAR DOIS DICIONÁRIOS DIFERENTES E FAZER A CONCATENAÇÃO PARA CRIAR UM NOVO?

In [93]:
dicionario1 = {'Água': 1.0, "Suco": 2.0}
dicionario2 = {'Bolacha': 2.0, 'Chocolate': 4.0}

In [94]:
dicionario1.update(dicionario2)
print(dicionario1)

{'Água': 1.0, 'Suco': 2.0, 'Bolacha': 2.0, 'Chocolate': 4.0}

##14) COMO VERIFICAR SE UMA DETERMINADA CHAVE JÁ EXISTE EM UM DICIONÁRIO?

In [98]:
d = {1:10, 2:20, 3:30}

In [101]:
#chave é o 1 e o valor da chave é 10
print(d)

{1: 10, 2: 20, 3: 30}

In [109]:
valor = int(input("Digite a chave para verificacao: "))

Digite a chave para verificacao: 2

In [111]:
if valor in d:
  print("Está no dicionario")
else:
  print("Não está no dicionario")

Está no dicionario

##15) COMO ESCREVER UM PROGRAMA PARA ITERAR SOBRE DICIONÁRIOS USANDO LOOPS FOR?

In [112]:
dict1 = {"Nome": 'Maria', "Idade": 27}

In [113]:
for i in dict1:
  print(i)

Nome
Idade

In [116]:
for i in dict1:
  print(f"{i}: {dict1[i]}")

Nome: Maria
Idade: 27

##16) COMO MULTIPLICAR TODOS OS ITENS DE UM DICIONÁRIO?

In [117]:
d_multiplicar = {"A": 2, "B": 4, "C": 6}

In [118]:
for i in d_multiplicar:
  print(i)

A
B
C

In [119]:
#preciso acessar os valores e não as chaves
for i in d_multiplicar:
  print(d_multiplicar[i])

2
4
6

In [120]:
mult = 1
for i in d_multiplicar:
  print(d_multiplicar[i])
  mult *= d_multiplicar[i]
print(mult)

2
4
6
48

##17) COMO REMOVER UMA CHAVE DE UM DICIONÁRIO?

In [121]:
d_para_remover = {"A": 2, "B": 4, "C": 6}

In [123]:
for i in d_para_remover:
  print(i)

A
B
C

In [125]:
d_para_remover.pop("C", None)

6

In [126]:
print(d_para_remover)

{'A': 2, 'B': 4}

In [127]:
#outra forma é usar del
del d_para_remover["B"]

In [128]:
print(d_para_remover)

{'A': 2}