##1) COMO CRIAR UMA FUNÇÃO QUE ACEITA DOIS ARGUMENTOS (NOME E IDADE) E IMPRIME SEU VALOR?

In [ ]:
def nome_idade(nome, idade):
  return (f"Nome: {nome}, Idade: {idade}")

In [ ]:
nome_idade("Maria", 27)

'Nome: Maria, Idade: 27'

In [ ]:
type(nome_idade)

function

##2) COMO ESCREVER UMA FUNÇÃO DE FORMA QUE ELA POSSA ACEITAR UM TAMANHO VARIÁVEL DE ARGUMENTO E IMPRIMIR TODOS OS VALORES DOS ARGUMENTOS?

***args: usado para receber uma lista de argumentos de comprimento variável**

In [ ]:
def recebe_parametros(*args): #(1, 2 ,3, 4, 5)
  for i in args:
    print(i)

In [ ]:
recebe_parametros(1,2,3,4,5)

1
2
3
4
5

In [ ]:
recebe_parametros(50, 100, 150)

50
100
150

In [ ]:
recebe_parametros("Maria", "27 anos")

Maria
27 anos

##3) COMO ESCREVER UMA FUNÇÃO QUE ACEITE DUAS VARIÁVEIS E CALCULE A ADIÇÃO E SUBTRAÇÃO DELAS? TAMBÉM DEVE RETORNAR A ADIÇÃO E SUBTRAÇÃO EM UMA ÚNICA CHAMADA DE RETORNO.

In [ ]:
def pequena_calculadora(x, y):
  soma = x + y
  sub = x - y
  return soma, sub

In [ ]:
pequena_calculadora (20, 20)

(40, 0)

In [ ]:
#ou
def simples_calculadora (x, y):
  return x + y, x - y

In [ ]:
simples_calculadora (20, 20)

(40, 0)

In [ ]:
#salvando a função dentro de variável
calculadora_soma, calculadora_sub = simples_calculadora(1,1)
print(calculadora_soma)
print(calculadora_sub)

2
0

##4) COMO CRIAR UMA FUNÇÃO QUE ACEITE O NOME DO FUNCIONÁRIO E SEU SALÁRIO E EXIBA AMBOS? SE O SALÁRIO ESTIVER FALTANDO NA CHAMADA DA FUNÇÃO, ATRIBUA O VALOR PADRÃO 1000 AO SALÁRIO.

In [ ]:
def funcionario_e_salario(nome, salario=1000):
  return (nome, salario)

In [ ]:
funcionario_e_salario ("Maria", 10000)

('Maria', 10000)

In [ ]:
funcionario_e_salario("Maria")

('Maria', 1000)

##5) COMO ESCREVER UMA FUNÇÃO RECURSIVA PARA CALCULAR A SOMA DOS NÚMEROS DE ZERO A 10?

**Função recursiva é o processo de chamar a si própria.**

In [ ]:
def calculo_da_soma (num):
  if (num):
    print (num)
    return num + calculo_da_soma (num - 1)
    #esta rodando a função em cima dela mesma
  else:
    return 0

In [ ]:
resultado = calculo_da_soma (10)
print (resultado)

10
9
8
7
6
5
4
3
2
1
55

##6) COMO ESCREVER UMA FUNÇÃO QUE QUANDO FORMOS USÁ-LA PODEMOS CHAMAR POR OUTRO NOME?

**Esse exercício é importante para notar que podemos colocar a função em uma variável, tornando tudo mais fácil dependendo do código.**

In [ ]:
def mostra_flor_cor (flor, cor):
  return flor, cor

In [ ]:
mostra_flor_cor ("Rosa", "Vermelha")

('Rosa', 'Vermelha')

In [ ]:
preferencia_usuario = mostra_flor_cor

In [ ]:
type(preferencia_usuario)

function

In [ ]:
preferencia_usuario ("Orquidea", "Branca")

('Orquidea', 'Branca')

##7) COMO CRIAR UMA FUNÇÃO QUE RECEBE COMO PARÂMETRO UM NÚMERO INTEIRO E DEVOLVE SEU DOBRO?

In [ ]:
def retorne_dobro (numero_inteiro):
  return 2 * numero_inteiro

In [ ]:
retorne_dobro (8)

16

##8) COMO CRIAR UMA FUNÇÃO PARA VERIFICAR SE UM NÚMERO É POSITIVO OU NEGATIVO? O VALOR DE RETORNO DEVE SER 1 PARA POSITIVO E -1 PARA NEGATIVO, ZERO SE FOR IGUAL A ZERO.

In [ ]:
def verificacao(x):
  if (x > 0):
    return 1
  elif (x < 0):
    return -1
  else:
    return "Igual a zero"

In [ ]:
verificacao(4)

1

In [ ]:
verificacao(-40)

-1

In [ ]:
verificacao(0)

'Igual a zero'

##9) COMO CRIAR UMA FUNÇÃO QUE RECEBE DOIS NUMEROS E RETORNA QUAL DELES É O  MAIOR?

In [ ]:
def valor_maior (a, b):
  if (a > b):
    return a
  elif (a < b):
    return b
  else:
    return "São iguais"

In [ ]:
valor_maior (4, 8)

8

In [ ]:
valor_maior(12, 12)

'São iguais'

##10) COMO ELABORAR UMA FUNÇÃO QUE RECEBA TRÊS NOTAS DE UM ALUNO E UMA LETRA? SE A LETRA FOR A: A FUNÇÃO DEVE CALCULAR A MÉDIA ARITMÉTICA; SE A LETRA FOR P, DEVERÁ CALCULAR A MÉDIA PONDERADA COM PESOS 5, 3 E 2.

In [ ]:
def media_aluno (nota1, nota2, nota3, letra):
  if (letra == "A"):
    media_aritmetica = (nota1 + nota2 + nota3)/3
    return (f"A média aritmética é: {media_aritmetica}")
  elif (letra == "P"): 
    media_ponderada = (nota1 * 5 + nota2 * 3 + nota3 * 2)/(5+3+2)
    return (f"A média ponderada é: {media_ponderada}")
  else:
    return ("A letra é invalida")

In [ ]:
media_aluno(1,2,10,"A")

'A média aritmética é: 4.333333333333333'

In [ ]:
media_aluno(1,2,10,"P")

'A média ponderada é: 3.1'

In [ ]:
media_aluno(1,2,10,"M")

'A letra é invalida'

##11) COMO CRIAR UMA FUNÇÃO QUE RECEBE DOIS NÚMEROS INTEIROS POSITIVOS COMO PARÂMETROS E RETORNE A SOMA DOS N NÚMEROS INTEIROS EXISTENTES ENTRE ELES?

In [4]:
def soma_inteiros(a, b):
  soma = 0
  for i in range(a, b+1, 1):
    soma += i
  return soma

In [5]:
soma_inteiros(1, 4)

10

##12) COMO FAZER UMA FUNÇÃO QUE RECEBA A ALTURA E O RAIO DE UM CILINDRO CIRCULAR E RETORNE O VOLUME DO CILINDRO?

In [6]:
def volume_cilindro (altura, raio):
  pi = 3.141592
  volume = (raio*raio) * altura * pi
  return volume

In [10]:
volume = volume_cilindro(2,3)
print(volume)

56.548656

##13) COMO ESCREVER UMA FUNÇÃO QUE RECEBE UM NÚMERO REAL COMO ARGUMENTO E RETORNE O VALOR ABSOLUTO DESSE NÚMERO?

Podemos usar o **abs** também!

In [12]:
def valorabs(n):
  if (n<0):
    n = n*(-1)
    return n
  else:
    return n

In [13]:
valorabs(2)

2

In [14]:
valorabs(-2)

2

##14) COMO ESCREVER UMA FUNÇÃO PARA SOMAR TODOS OS NÚMEROS EM UMA LISTA?

In [15]:
lista = [1,2,3]

In [16]:
def soma_lista (lista):
  soma = 0
  for i in lista:
    soma += i
  return soma

In [19]:
soma_lista(lista)

6

##15) COMO ESCREVER UMA FUNÇÃO PARA VERIFICAR SE UM NÚMERO ESTÁ EM DETERMINADO INTERVALO?

In [27]:
def intervalo (a, b, valor_verificar):
  count = 0
  for i in range(a, b+1):
    if(i == valor_verificar):
      count += 1
  return count

In [28]:
#se 1 é porque o valor está no intervalo, se zero não está
intervalo(1, 5, 2)

1

In [29]:
intervalo(1, 5, 10)

0

##16) COMO ESCREVER UMA FUNÇÃO PARA IMPRIMIR OS NÚMEROS PARES DE UMA LISTA?

In [32]:
def par_dalista (lista):
  lista_par = []
  for i in lista:
    if (i % 2 == 0):
      lista_par.append(i)
  return lista_par

In [33]:
lista = [1,2,3,4,5,6]

In [36]:
par_dalista(lista)

[2, 4, 6]

##17) COMO ESCREVER UMA FUNÇÃO PARA CRIAR E IMPRIMIR UMA LISTA ONDE OS VALORES SÃO QUADRADOS DE NÚMEROS ENTRE 1 E 30 (ambos incluídos) ?

In [37]:
def lista_quadrado():
  lista2 = []
  for i in range(1, 31, 1):
    lista2.append(i*i)
  return lista2

In [38]:
lista_quadrado()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

##18) COMO ESCREVER UMA FUNÇÃO PARA DETECTAR O NÚMERO DE VARIÁVEIS LOCAIS DECLARADAS EM UMA FUNÇÃO?

In [39]:
def testando():
  pass

In [40]:
testando()

In [41]:
print(testando.__code__.co_nlocals)

0

In [43]:
def testando_novo():
  a, b, c = 1, 2, 3
  nome = "Maria"

In [44]:
print(testando_novo.__code__.co_nlocals)

4